@import "../../styles/variables.scss";

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.post-modal-content {
  background-color: $main-bg;
  padding: 20px;
  z-index: 1001;
  width: 40%; 
  border: 1px solid $dark-color;
  overflow: auto;
}

.close {
  cursor: pointer;
}

.infoHeader {
  color: $main-color;
}

.label {
  font-weight: bold;
  color: $main-color;
}

.label-info {
  color: $soft-color;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; 
}