.users {
    height: 75vh;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%
}

.refresh {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}